@model Docker.WebStore.Models.ConfigureAppModel

@{
    ViewData["Title"] = "Application configuration";
}

<h2>Application configuration</h2>


<form asp-action="RuntimeSettings">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@Model.Name</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                @for (int i = 0; i < Model.Parameters.Count; ++i) {
                    <div class="row">
                        <label class="control-label col-sm-2">@Model.Parameters[i].Name</label>
                        <div class="col-md-8">
                            @if (Model.Parameters[i].Type == typeof(bool)) {
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" asp-for="Parameters[i].Value" />
                                        @Model.Parameters[i].Description
                                    </label>
                                </div>

                            } else {
                                <input asp-for="Parameters[i].Value" class="form-control" />
                                <span class="help-block">@Model.Parameters[i].Description</span>
                            }
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>


    @for (int depIX = 0; depIX < Model.Dependencies.Count; ++depIX) {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Dependencies[depIX].Name</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    @for (int i = 0; i < Model.Dependencies[depIX].Parameters.Count; ++i) {
                        <div class="row">
                            <label class="control-label col-sm-2">@Model.Dependencies[depIX].Parameters[i].Name</label>
                            <div class="col-md-8">
                                @if (Model.Dependencies[depIX].Parameters[i].Type == typeof(bool)) {
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="Dependencies[depIX].Parameters[i].Value" />
                                            @Model.Dependencies[depIX].Parameters[i].Description
                                        </label>
                                    </div>

                                } else {
                                    <input asp-for="Dependencies[depIX].Parameters[i].Value" class="form-control" />
                                    <span class="help-block">@Model.Dependencies[depIX].Parameters[i].Description</span>
                                }
                            </div>

                        </div>                        
                    }
                </div>
            </div>
        </div>

    }

    <div class="form-group">
        <input type="submit" value="Set runtime settings" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
