@model Docker.WebStore.Models.ConfigureAppModel

@{
    ViewData["Title"] = "Configure";
}

<h2>Service configuration</h2>

<h4>@Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RuntimeSettings" >
            <div class="form-group">
            @for (int i = 0; i < Model.Parameters.Count; ++i) {
                <div class="form-group">
                    <label class="control-label">@Model.Parameters[i].Name</label>
                    <div>@Model.Parameters[i].Description</div>
                    @if (Model.Parameters[i].Type == typeof(bool)) {
                        <input type="checkbox" asp-for="Parameters[i].Value" class="form-control" />

                    } else {
                        <input asp-for="Parameters[i].Value" class="form-control" />
                    }

                </div>
            }
            </div>

            @for (int depIX = 0; depIX < Model.Dependencies.Count; ++depIX) {
                <div class="form-group">
                <h5>@Model.Dependencies[depIX].Name</h5>
                @for (int i = 0; i < Model.Dependencies[depIX].Parameters.Count; ++i) {
                    <div class="form-group">
                        <label class="control-label">@Model.Dependencies[depIX].Parameters[i].Name</label>
                        <div>@Model.Dependencies[depIX].Parameters[i].Description</div>
                        @if (Model.Dependencies[depIX].Parameters[i].Type == typeof(bool)) {
                            <input type="checkbox" asp-for="Dependencies[depIX].Parameters[i].Value" class="form-control" />

                        } else {
                            <input asp-for="Dependencies[depIX].Parameters[i].Value" class="form-control" />
                        }

                    </div>
                }
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Set runtime settings" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
