@model IEnumerable<Docker.WebStore.Models.AssemblyModel>

@{
    ViewData["Title"] = "Application libraries";
}

<h2>Application libraries</h2>



@foreach (var item in Model) {
    <h3>@item.Name (@item.Version)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var app in item.Apps){
            <tr>
                <td>
                    <a asp-controller="Apps" asp-action="Configure" asp-route-fullTypeName="@app.App.GetType().AssemblyQualifiedName">@app.Name</a>
                </td>
                <td>
                    @app.Version
                </td>
                <td>
                    @app.Author
                </td>
                <td>
                    @app.Description
                </td>
            </tr>
            }
        </tbody>
    </table>
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Upload app libraries</h3>
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" asp-action="UploadAssemblies">

                <div class="input-group">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" style="display: none;" name="files" multiple>
                            </span>
                        </label>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <span class="help-block">
                        Select one or more Application libraries dlls
                    </span>                   
                </div>

                    <input type="submit" value="Upload" class="form-control" />
                
            </form>
        </div>
    </div>

@section Scripts{ 
    <script type="text/javascript">
        $(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' files selected' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
    </script>
}